body {
  background-color: #f1d3b0;
}

.Content {
  margin-top: 3vw;
  margin-bottom: 3vw;
  margin-left: 20vw;
  margin-right: 20vw;
}

.Content h1 {
  text-align: center;
  margin-bottom: 3vw;
  color: #69450f;
}

.User {
  text-align: right;
  font-size: 0.8rem;
  font-style: italic;
}

.GifLoading {
  text-align: center;
  align-items: center;
}

.GifLoading h3 {
  text-align: center;
  margin-bottom: 5vw;
  color: #69450f;
}

.rotation {
  animation: rotation 2s infinite linear;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 576px) {
  .Content h1 {
    font-size: 1.8em;
  }

  .Content {
    margin-top: 3vw;
    margin-bottom: 3vw;
    margin-left: 10vw;
    margin-right: 10vw;
  }
}
